body {
  margin: 0;
  background: #999;
  font-family: sans-serif;
}

a {
  color: #149;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#centre_pane {
  margin: auto;
  width: 800px;
  background: #e3e3da;
  margin: auto;
  width: 800px;
  /* Shadow */
  -webkit-box-shadow: 2px 2px 10px ;
  -moz-box-shadow: 2px 2px 10px ;
  box-shadow: 2px 2px 10px ; 
  /* Rounded corners */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
}

#header {
  height: 150px;
  padding-left: 32px;
}

#header h1 {
  /* Vertically align text to middle */
  line-height: 150px;
  
  font-size: 250%;
}

#navigation {
  background: #333;
  font-weight: bold;
  color: white;
  padding: 16px 8px 16px 8px;
  font-size: 120%;
}

#navigation a {
  color: white;
  text-decoration: none;
  padding: 0px 8px 0px 8px;
}

#navigation a:hover {
  color: #ffa;
}

#content {
  padding: 16px;
}

#summary {
  color: white;
  padding: 16px 32px 16px 32px;
  height: 150px;

  background: #D66B6B; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C3939', endColorstr='#8C3939'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#D66B6B), to(#8C3939)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #D66B6B,  #8C3939); /* for firefox 3.6+ */
}

#summary_text {
  padding: 16px 0px 16px 0px;
}

code {
  display: block;
  padding: 16px;
  color: #f8f8f8;
  background: #141414;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px; 
}

code .n { color: #f8f8f8; }
code .k { color: #cda869; font-weight: bold; }
code .kp { color: #cda869; }
code .kt { color: #9b859d; }
code .nn { color: #9b859d; }
code .nb { color: #cda869; }
code .o { color: #f8f8f8; }
code .mf { color: #cf6a4c; }
code .mh { color: #cf6a4c; }
code .mi { color: #cf6a4c; }
code .mo { color: #cf6a4c; }
code .s1 { color: #8f9d6a; }
code .s2 { color: #8f9d6a; }
code .sh { color: #8f9d6a; }
code .si { color: #8f9d6a; font-weight: bold; }
code .c { color: #665f57; font-style: italic; }
code .cm { color: #665f57; font-style: italic; }
code .cp { color: #665f57; font-style: italic; }
code .c1 { color: #665f57; font-style: italic; }
code .no { color: #7587a6; }
code .sr { color: #e9c062; }
code .nf { color: #f8f8f8; }
code .nc { color: #9b859d; }
code .ss { color: #cf6a4c; }
code .sc { color: #cf6a4c; }
code .vi { color: #7587a6; }
code .vc { color: #7587a6; }
code .vg { color: #7587a6; }
