<html>
<head>
<link href="css/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="centre_pane">
    <div id="header">
      <em style="float: right; line-height: 150px; padding-right: 32px; font-size: 130%;">A language within Ruby</em>
      <h1>Coal</h1>
    </div>
    <div id="navigation">
      <a href="index.html">Home</a>
      <a href="http://rubydoc.info/github/dismaldenizen/coal/master/frames">API Docs</a>
      <a href="http://github.com/dismaldenizen/coal">Source</a>
    </div>
    <div id="summary">
      <img src="images/coal.png" style="float: right;"/>
      <div id="summary_text">
        <p>Replace C extensions with a more user-friendly alternative</p>
        <p>Create super-fast portions of code</p>
        <p>Make better bindings</p>
      </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
